vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 May 2009 19:24:03 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Nautilus\\Capt.Nemo
vti_modifiedby:SR|Nautilus\\Capt.Nemo
vti_timecreated:TR|27 May 2009 19:24:03 -0000
vti_cacheddtm:TX|27 May 2009 19:24:03 -0000
vti_filesize:IR|3273
vti_cachedlinkinfo:VX|S|lbl-p.png S|lbl-h1.png S|lbl-h2.png S|lbl-h3.png S|lbl-h4.png S|lbl-h5.png S|lbl-h6.png S|lbl-blockquote.png S|lbl-pre.png
vti_cachedsvcrellinks:VX|FSUS|admin/wymeditor/iframe/default/lbl-p.png FSUS|admin/wymeditor/iframe/default/lbl-h1.png FSUS|admin/wymeditor/iframe/default/lbl-h2.png FSUS|admin/wymeditor/iframe/default/lbl-h3.png FSUS|admin/wymeditor/iframe/default/lbl-h4.png FSUS|admin/wymeditor/iframe/default/lbl-h5.png FSUS|admin/wymeditor/iframe/default/lbl-h6.png FSUS|admin/wymeditor/iframe/default/lbl-blockquote.png FSUS|admin/wymeditor/iframe/default/lbl-pre.png
vti_backlinkinfo:VX|admin/wymeditor/iframe/default/wymiframe.html
